body {
    margin: 0;
    background: #e5e5e5;
    color: #25282B;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

a{
    font-weight: bold;
    color: #ff5e84;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.removeScroll{
    overflow: hidden;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container{
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}

#intro{
    width: 300px;
}

#intro, #last-ideas{
    margin: 32px 0 20px 64px;
}

main{
    margin: 32px 0;
}

main .destaque{
    color: #ff5e84;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button {
    border: none;
    font-weight: bolder;
    background: none;
    color: #ff5e84;
    outline: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(255, 0, 92, 0.16);
    color: white;
    background-color: #ff5e84;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    text-decoration: none;
    font-weight: bold;
    background-color: #0984e3;
}

footer{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

footer a {
    opacity: 0.6;
}

footer a:hover{
    font-weight: bold;
    color: #ff5e84;
}

.idea{
    display: flex;
    border-radius: 9px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#last-ideas .idea:last-child{
    margin: 0;
}

#last-ideas .idea:nth-child(3){
    margin-bottom: 0;
}

.idea h3{
    margin: 12px 0;
}

.idea .description{
    margin: 16px 0;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

/* Modal */

#modal{
    background-color: #ff5e84;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;

    transition: 0.5s;
}

#modal.addScroll{
    overflow: auto;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

#modal .content{
    margin-top: 1%;
    color: white;
}


#modal .content h1{
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

#modal .input-wraper:nth-child(3),
#modal .input-wraper:nth-child(4),
#modal .input-wraper:nth-child(5){
    grid-column: span 2;
}

form input, form textarea {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1;
}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form button{
    background-color: white;
    margin: 2% 0;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button:hover{
    background-color: #0984e3;
    color: white;
    text-decoration: none;
}

form a{
    box-sizing: border-box;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 36px;
    padding: 18px 0 0 25px;
    position: absolute;
    top: 0;
    left: 0;
}

form a:hover{
    text-decoration: none;
    cursor: pointer;
}

/*IDEIAS.HTML*/

#page-ideias header{
    display: flex;
    justify-content: space-around;
    max-width: 980px;
    margin: auto;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    margin-top: 20px;
}

header li{
    list-style-type: none;
    margin-right: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header li:last-child{
    margin: 0;
}

header li a{
    color: #25282B;
}

#page-ideias section{
    text-align: center;
}

section #apresentacao{
    opacity: 0.7;
}

#title{
    margin: 0;
    font-size: 28px;
}

#ideas{
    width: 80%;
    max-width: 980px;
    margin: auto;
}

#page-ideias #ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#page-ideias section #ideas .idea{
    margin: 0;
}

#page-ideias footer{
    margin-bottom: 64px;
}

footer, #ideas, #apresentacao{
    margin-top: 64px;
}

#page-ideias #modal{
    top: 0;
}